   /* ------------------------------------------------------------------------------------------------ */
    .main{
        width: 500px;
        text-align: center;
      
    }
    
.element {
  all: none;
}    

 .mon_wrap{
 padding-bottom: 5%;
 }   
 
.mon1, .mon2, .mon3, .mon4, .mon5, .mon6, .mon7{
	display: inline-block;
	font-size: 20px;
}
.mon1{
	letter-spacing: -4px;
}
.mon2{
	letter-spacing: -4px;
}
.mon3{
	letter-spacing: -4px;
}
.mon4{
	letter-spacing: -4px;
}
.mon5{
	letter-spacing: -4px;
}
.mon6{
	letter-spacing: -4px;
}
.mon7{
	letter-spacing: -4px;
}
    
input[type="checkbox"]{
	width: 16px;
	height: 16px;
	border-radius: 2px;
	cursor: pointer;
}

input[type='checkbox']+ label:before{
    
} 


.time_wrap{
	padding-bottom: 4%;
	font-size: 20px;
}

.morning, .lunch, .noon{
	display: inline-block;
}



.week, .month, .quarter, .semiAnnual{
	display: inline-block;
	font-size: 15px;
 
}

p{
	font-weight: bold;
	font-size: 17px;
}

    .times{
        margin: 0 8px;
    background-color: white;
    border: 1px solid #ddd;
    height: 46px;
    border-radius: 25px;
    cursor: pointer;
}


.days{
	float:left !important;  
	margin-left: 0px;
	font-size:12px !important;
}

body{
	padding-top: 0.5em !important;
}
    

    .term{
        margin:0 5px;
        margin: 0 5px;
        height: 39px;
        background-color: white;
        border: 1px solid #ddd;
        cursor: pointer;
    }

  

    input[type="date"]{
        position: relative;
        min-height:20px;
        padding: 10px 12px;
        border: 1px solid #ddd;
        border-radius: 25px;
        font-size:18px;
        }

        input[type="date"]::-webkit-clear-button,
        input[type="date"]::-webkit-inner-spin-button { 
            display: none;
        } 
        input[type="date"]::-webkit-calendar-picker-indicator { 
            background: transparent;
            z-index: 1;
        } 

        .input_date_box input:after{
        position: absolute;
        top:50%;
        right:14px;
        content: '';
        width: 22px;
        height:22px;

        background: #fff url('../../images/캘린더.png') center center /contain;
        transform: translateY(-50%);
        z-index: 0;
        }

        button:focus {
         background-color:#ffb61a;
         color: white;
         font-size: bold;
         border: none;
}
    
    hr{
        color: #bbb;
        margin: 25px;
    }
    
    input[type="checkbox"]:checked + label:before, input[type="radio"]:checked + label:before {
    background: #ffb61a;
    border-color: #ffb61a;
    color: #ffffff;
    content: '\f00c';
}
   .input_date_box  input:focus{
    border-color:#ffb61a;
    border-width:1.5px;
    outline: none;
}
    
    .ok{
    background-color: white;
    border: none;
    position: absolute;
    top: 21.5px;
    left: 402px;
    font-size: 16px;
    font-family: 'Noto Sans KR';
    width: 78px;
    height: 37px;
    border-radius: 21px;
    color: #ffb61a;
    font-weight: bold;
    }
    
    .week{
       margin-left: 12px;
    }
  
    
      
    